
body {
  margin: 0;
  background: black;
  font-family: arial;
  font-size: 16px;
}

.page[hidden], .delay-container[hidden], .pause-turn-container[hidden], .pleaseRotate[hidden], .endgame-winner[hidden], .modalTable-rollForResultRow[hidden], .modal-body-onlyButtons[hidden] {
  display: none;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
}

.page1 {
  padding: 5rem 0;
}

.pleaseRotate, .page1 {
  background: #e2e9ff;
}

.page1-form {
  display: flex;
  flex-direction: column;
}

.page1-form-group {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}

.team-turn {
  width: 50vw;
  height: 100vh;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: solid 1px black;
  background: #000;
  padding: 0;

  z-index: 5;
  border: solid 30px transparent;
}

.team-turn:nth-of-type(1) {
  left: 0;
  top: 0;
}

.team-turn:nth-of-type(2) {
  left: 50vw;
  top: 0;
}

.team-turn.activePlayer {
  border-bottom: solid 30px red;
  border-top: solid 30px red;
}

.team-turn.notActivePlayer {
  filter: blur(5px);
}

.team1-turn.activePlayer {
  border-right: solid 30px red;
}

.team2-turn.activePlayer {
  border-left: solid 30px red;
}

.pause-turn-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.pause-turn {
  width: 18rem;
  height: 9rem;
  z-index: 15;
  font-size: 2rem;
  background: white;
  border-radius: 10px 10px 0 0;
  border: none;
}

.team-logo {
  position: absolute;
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
}

/* .team1-turn .team-logo {
  transform: skew(0deg, -20deg);
}

.team2-turn .team-logo {
  transform: skew(0deg, 20deg);
} */

.team-turn-content, .score, .gameInfo-container, .team-turn-turn {
  color: white;
  font-size: 4rem;
  z-index: 5;
}

.team-turn-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}

.team-turn-turn {
  position: absolute;
  bottom: 0;
}

.score {
  position: relative;
  z-index: 10;
  pointer-events: none;
  width: 100%;

  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.8);
}

.gameInfo-container {
  position: relative;
  z-index: 10;
  pointer-events: none;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: arial;
  font-size: 1.5rem;

  border-radius: 0 0 10px 10px;
}

.half {
  background: rgba(0,0,0,0.8);
  padding: 8px 16px;
  border-radius: 0 0 5px 5px;
}

.team-score-name {
  width: 40%;
  font-size: 3rem;
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.team1-score-name {
  justify-content: flex-end;
}

.team2-score-name {
  text-align: end;
}

.teams-scoreboard {
  width: 20%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.page2 {
  display: block;
}

.page3 {
  z-index: 20;
  background: #eeeeee66;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paused-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 60px;
  border-radius: 3px;
  color: black;
  box-shadow: rgb(0 0 0 / 50%) 1px 1px 15px;
}

.team-turn-time {
  font-size: 5rem;
  background: rgba(0,0,0,0.8);
  padding: 16px 0;
}

.delay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 35;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff44;
}
.delay {
  color: #fff;
  font-size: 4rem;
}

.paused {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 24px;
}

.teams-score {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.team-turn-number {
  font-family: 'Roboto Mono', monospace;
}

.paused-buttons {
  margin-top: 24px;
  text-align: right;
}

.teams-TD{
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}

.turnover {
  background: red;
}

.pleaseRotate {
  display: none;
  z-index: 40;
  position: absolute;
  font-size: 3rem;
}
.pleaseRotate-icons {
  margin: 24px 0;
  font-size: 10rem;
}
.pleaseRotate-rotated {
  display: inline-block;
  transform: rotate(0.25turn);
}

.endgame-overlay {
  position: absolute;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F45C43 50%, #c71d31);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F45C43 50%, #c71d31); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.endgame-gameend {
  font-family: arial;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.endgame-main {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.endgame-winner {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.endgame-logos {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 5;
}

.endgame-state {
  font-size: 6rem;
  color: white;
  z-index: 10;
  text-shadow: black 1px 1px 5px;
  padding: 0rem 3rem;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  margin-bottom: 6rem;
}

#confetti-canvas {
  position: absolute;
}

.form1-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label-helper {
  font-size: 1rem;
}

.liga-nbba {
  text-align: center;
}

.subir-acta {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 1px 1px black;
  border: solid 1px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 30;
}


.page2.modal-active {
  filter: blur(10px);
}

.modal-overlay {
  position: absolute;
  z-index: 50;
  background-color: rgba(255,255,255,0.3);
  height: 100vh;
  width: 100vw;
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 2rem;
  border-radius: 5px;
  max-height: calc(100vh - 5rem - 5rem - 2rem - 2rem);
  box-shadow: rgb(0 0 0 / 50%) 1px 1px 5px 2px;
}

.twoColumns {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.modal-bottomBtn {
  width: fit-content;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
}

.modal-controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}

.modal-bottomBtn:first-of-type,
/* Para cuando el botón de atrás está oculto, que el botón de continuar no tenga un margen izquierdo */
.modal-bottomBtn:first-of-type[hidden] + .modal-bottomBtn,
.modal-bottomBtn:first-of-type[hidden] + .modal-bottomBtn[hidden] + .modal-bottomBtn {
  margin-left: 0;
}

.modalTable {
  margin-top: 1rem;
}

.modalTable-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 1px;
  border: 1px solid black;
}

.modalTable-row > *:not(:first-child) {
  border-left: 1px solid black;
}

.modalTable-row.inducementsTable-row {
  grid-template-columns: 1fr 1fr;
}

.modalTable-row > * {
  padding: 1rem;
}

.modalTable-row:not(:first-child) {
  border-top: none;
}

.dice-roll {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  height: 48px;
}

.dice-roll-container {
  display: flex;
  align-items: center;
  background-color: #eee;
  width: fit-content;
  padding: 0 24px;
  border-radius: 5px;
  height: 8rem;
}

.dice-roll-container > * {
  padding: 8px 16px;
}

.dice-roll-container-inline {
  flex-direction: column;
}

.weather {
  font-size: 3rem;
  border-radius: 0 0 50% 50%;
}

.modalTable-emoji {
  font-size: 2rem;
}

.modalTable-firstCell {
  display: flex;
}

.modal-body {
  height: 100%;
  margin-top: 1rem;
  overflow: auto;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.helpText {
  color: crimson;
}

.pauseForm {
  border-left: solid 2px black;
  margin: 1rem 0;
  padding-left: 1rem;
}

.pauseForm > * {
  margin: 1rem;
}

.injuryFormTwoColumns {
  display: flex;
}

.injuryFormTwoColumns > * {
  margin-right: 2rem;
}

.gameRecordGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px 8px;
  border-left: solid 2px black;
  padding: 8px;
}

.endgameShowRecord {
  position: absolute;
  bottom: 5%;
  z-index: 9999;
}

.modalTable-rollForResultRow {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.subtle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.subtle > h2 {
  margin: 0;
}

.modalTable-rollForResult {
  width: 100%;
}

.modal-rollForResult {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.inducementsTable-row > * {
  flex-direction: column;
}

.pause-modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-body-onlyButtons {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.gameRecordsContainer {
  width: 100%;
}

.modal-overlay.disableOverlay {
  background-color: transparent;
}

@media (max-width: 1000px) {
  :root {
    font-size: 10px;
  }

  /* modal on mobile */
  .modal-overlay .modal {
    margin: 2rem;
    max-height: none;
    height: calc(100vh - 2rem - 2rem - 2rem - 2rem);
    justify-content: space-between;
  }

  .modal-continueBtn {
    width: 100%;
    padding: 2rem;
  }

  .modal-title {
    position: relative;
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .modal-title p, .modal-title h3 {
    margin: 0
  }
}

.inducement {
  margin-bottom: 1rem;
}

.noGameRecordsEndgame {
  margin-top: 5rem;
}

.winningsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.winningsExplanation {
  font-style: italic;
}

.winningsNumber {
  font-weight: bold;
  font-size: 4rem;
}

@media (max-width: 500px) {
  .pleaseRotate {
    display: flex;
    z-index: 40;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
