body {
  margin: 0;
  background: black;
  font-family: arial;
  font-size: 16px;
}

.page[hidden], .page1-form-group[hidden], .page1-form[hidden]{
  display: none;
}

.page1 {
  display: flex;
  width: 100vw;
  height: calc(100vh - 10rem);
  overflow: auto;
  align-items: center;
  position: absolute;
  flex-direction: column;
  padding: 5rem 0;
}

.page1-form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-top: 16px;
}

.page1-form-group {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}

.page1-form-group.horizontal {
  flex-direction: row;
}

.page1 {
  background: #e2e9ff;
}

.form1-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}